nav{
	float:right;
}

nav a{
	text-decoration: none;
}

.notification-modal{
	display: flex;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    color: black;
    z-index: 200;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    -webkit-transition: 0.5s;
    transition: 0.4s;
}

.notification-modal-content{
	display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: white;
  margin: auto;
  padding: 20px;
  border: 0.5px solid #017cff;
  border-radius: 2px;
  width: 90%;
  height: 100%;
  overflow-y: auto;
}

.notification-modal-close {
  align-self: flex-end;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.notification-modal-close:hover,
.notification-modal-close:focus {
    text-decoration: none;
    cursor: pointer;
}

canvas{
	width: 90% !important;
	height: 60% !important;
}
